*{
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;    
}
header{
    background-color: pink;
}
main{
    background-color: lightcoral;
    min-height: 70vh;
}
aside{
    background-color: lightblue;
}
article{
    background-color: lightgreen;
}

section{
    background-color: lightyellow;
}

footer{
    background-color: lightgray;
}

h1{
    color: white;
    text-align: center;
    padding: 0.6rem;

}
